.DashboardTemplate {
    background-color: #f0f2f5 !important;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.click_chuyen_vien_ho_so_table{
    cursor: pointer;
}

.odoo-open-view{
    cursor: pointer;
}

.odoo-card {
    background-color: #f0f2f5;
    margin-top: 2rem;
    padding: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: rgba(0, 0, 0, 0.125);
    --bs-card-border-radius: 0.75rem;
    --bs-card-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --bs-card-inner-border-radius: 0.75rem;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: #fff;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.odoo-card .card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}

.odoo-card hr.horizontal.dark {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4), transparent);
    background-color: transparent;
    margin-right: 0;
    margin-left: 0;
    opacity: 0.25;
    color: inherit;
    border-top: none;
    height: 1px;
}

.odoo-card .card-footer:last-child {
    border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
}

.odoo-card .bg-gradient-dark {
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
    width: 64px;
    height: 64px;
    border-radius: 0.75rem;
    background-position: center;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(64, 64, 64, 0.4) !important;
    text-align: center !important;
    position: absolute !important;
    margin-top: -1.5rem !important;
}

.odoo-card .bg-gradient-pink {
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
    width: 64px;
    height: 64px;
    border-radius: 0.75rem;
    background-position: center;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(64, 64, 64, 0.4) !important;
    text-align: center !important;
    position: absolute !important;
    margin-top: -1.5rem !important;
}

.odoo-card .bg-gradient-green {
    background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
    width: 64px;
    height: 64px;
    border-radius: 0.75rem;
    background-position: center;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(64, 64, 64, 0.4) !important;
    text-align: center !important;
    position: absolute !important;
    margin-top: -1.5rem !important;
}

.odoo-card .bg-gradient-blue {
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
    width: 64px;
    height: 64px;
    border-radius: 0.75rem;
    background-position: center;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(64, 64, 64, 0.4) !important;
    text-align: center !important;
    position: absolute !important;
    margin-top: -1.5rem !important;
}


.odoo-card .bg-gradient-dark i,
.odoo-card .bg-gradient-pink i,
.odoo-card .bg-gradient-blue i,
.odoo-card .bg-gradient-green i{
    top: 31%;
    font-size: 1.5rem;
    color: #fff;
    position: relative;
}

.odoo-card .text-capitalize {
    font-size: 0.875rem !important;
    line-height: 1.5;
    text-transform: capitalize !important;
    margin-bottom: 0 !important;
}

.odoo-card .text-success {
    color: #4CAF50 !important;
    font-size: 0.875rem !important;
    font-weight: 700 !important;
    line-height: 1.5;
}


.odoo-card-chart {
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
}

.odoo-card-chart .card {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: rgba(0, 0, 0, 0.125);
    --bs-card-border-radius: 0.75rem;
    --bs-card-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --bs-card-inner-border-radius: 0.75rem;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: #fff;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.odoo-card-chart .card .card-header {
    z-index: 2 !important;
    background-color: transparent !important;
    padding: 0 !important;
    margin-top: -1.5rem !important;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    position: relative !important;
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);

}

.odoo-card-chart .card .card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}

.odoo-card-chart .card .card-header .chart-container {
    border-radius: 0.5rem;
    padding-right: 0.25rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.odoo-card-chart .card .card-header .bg-pink {
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4) !important;
}

.odoo-card-chart .card .card-header .bg-dark {
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(64, 64, 64, 0.4) !important;
}

.odoo-card-chart .card .card-header .bg-green {
    background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4) !important;
}

.odoo-card-chart .card .card-header .bg-blue {
    background-image: linear-gradient(195deg, #6681bb 0%, #436ba0 100%);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 94, 175, 0.4) !important;
}

.odoo-card-chart .card .card-header .bg-white {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 94, 175, 0.4) !important;
}

.odoo-card-chart .card .card-body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    padding: 1.5rem;
    flex: 1 1 auto;
    color: var(--bs-card-color);
}

.odoo-card-chart .card .card-body h6 {
    margin-bottom: 0 !important;
    font-weight: 600;
    font-size: 1rem !important;
    line-height: 1.625;
    margin-top: 0;
    color: #344767;
    display: block;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.odoo-card-chart .card .card-body p {
    font-size: 0.875rem !important;
    line-height: 1.5;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #7b809a;
}

.odoo-card-chart .card .card-body hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background-color: transparent;
    border-top: none;
    height: 1px;
    margin: 1rem 0;
    color: inherit;
    border: 0;
    opacity: 0.25;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
}

.odoo-card-chart .card .card-body .d-flex {
    display: flex !important;
    align-items: center !important;
}

.odoo-card-chart .card .card-body .d-flex i {
    font-size: 0.875rem !important;
    line-height: 1.5;
    font-family: 'Material Icons Round';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    margin-right: 0.25rem !important;
    margin-top: auto !important;
    color: #7b809a;
}

.odoo-card-chart .card .card-body p {
    font-size: 0.875rem !important;
    line-height: 1.5;
    margin-bottom: 0 !important;
    font-weight: 300;
}


.text-secondary {
    color: #7b809a !important;
    font-weight: bold;
}

// .table-responsive tr:last-child {
//     border-bottom: 0px solid gray;
// }

.odoo-card-chart.table-card .card .card-header{
    margin-top: 20px !important; 
}

// .odoo-card-chart.table-card .table tr {
//     border-bottom: 1px solid rgb(156, 155, 155) !important;
// }

// .odoo-card-chart.table-card .table td {
//     border-bottom: 0 !important;
// }

.odoo-card-chart.table-card .card .card-header h6 {
    font-weight: 600;
    font-size: 1rem !important;
    line-height: 1.625;
    margin-top: 0;
    color: #344767;
}

.odoo-card-chart.table-card .card .card-body h6 {
    margin-top: 0;   
}